@import url(assets/normalize.css);

/* Project Odin-Library */

/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: #eff6ff;
    display: flex;
    flex-direction: column;
    
    
    
}

.container {
    flex: 1;
}

/* header styles */
.header {
    background-color: #fff;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.headerBtn {
    align-self: center;
}

.headerBtn .button {
    font-weight: bold;
    padding: 16px;
    background-color: rgb(188, 223, 246);
    border: none;
    outline: none;
    border-radius: 24px;
    cursor: pointer;
}

.headerBtn .button:hover {
    background-color: #fff;
}


/* Main styles and cards display */
.main {

    padding: 12px;
    
}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    gap: 40px;
    margin-top: 16px;
}

.card {
    background-color: #FFFFFF;
    height: 300px;
    width: 240px; 
    padding: 30px;
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);

    display: grid;
    align-content: space-between;

}

.card p {
    font-size: 2rem;
    
}

.card h2 {
    font-style: italic;
}

.card button {
    font-size: 2.2rem;
    padding: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
}

.card button.progress {
    background-color: rgb(165, 244, 165);
}

.card button.delete {
    background-color: rgb(230, 145, 145);
}

.card button.progress:hover,
.card button.delete:hover {
    background-color: rgb(204, 224, 237);
    opacity: .6;
}

/* Form styles */
.modal {
    height: 400px;
    max-width: 36ch;
    padding: 12px;
    margin: auto;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

.modal::backdrop {
    background-color: purple;
    opacity: .2;   
}

.form {
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-size: 2.8rem;
}

.form h4 {
    align-self: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checkbox label {
    font-size: 2.6rem;
}

input[type="text"],
input[type="number"] {
    border: none;
    border: none;
    border-radius: 10px;
    padding: 6px;
    height: 4rem;
    font-size: 2rem;

}

.form .addBtn {
    border: none;
    outline: none;
    background-color: lightgreen;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px;
    font-size: 2.2rem;
    font-weight: bold;
}

.form .addBtn:hover {
    background-color: #fff;
}

/* Footer styles */
.footer {
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding: 4px;
}

.footer a {
    font-size: 2.4rem;
}
